{% extends 'base.html.twig' %}

{% set foo = ["accompagnement_personnes_agees", "adil", "afpa", "anah", "apec", "apecita", "ars", "ars_antenne", "banque_de_france",
              "bav"] %}

{% block body %}

<div class="container m-auto">
  <h2 class="text-center">Mieux connaître les communes de France</h2>

    <div class="container">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    </div>

    {{ form_start(form) }}
        <div class="form-group">
                {{ form_label(form.township, 'Nom de la commune') }}
                {{ form_widget(form.township, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
                {{ form_label(form.code, 'Code INSEE de la commune') }}
                {{ form_widget(form.code, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.type, 'Type de la recherche') }}
            {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.Rechercher, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    {{ form_end(form) }}


{% if response %}
    <div class="row" style="justify-content: center">
    {% for township in response %}
        <div class="card" style="justify-content: center;align-items: center;flex-direction: row;">
            <div class="card-body">
      <p> <strong>Nom de la commune :</strong> {{ township.nom }}  </p>
       <p> <strong>Population :</strong> {{ township.population }} <strong>habitants</strong> </p>
                {% for postalCode in township.codesPostaux %}
                    <p><strong>Code postal :</strong> {{ postalCode }}</p>
                {% endfor %}
    {% endfor %}
        {% for etablissement in etablissements %}
            <p> <strong>Etablissement :</strong> {{ etablissement.properties.nom }} </p>
            {% for place in etablissement.properties.adresses %}
                {% for adresse in place.lignes %}
                    <p><strong>Adresse :</strong> {{ adresse }}, {{ place.codePostal }}</p>
                {% endfor %}
            {% endfor %}

            <p><strong>Contactez-nous :</strong> {{ etablissement.properties.email }}</p>
            <p><strong>Telephone :</strong> {{ etablissement.properties.telephone }}</p>
            <p><strong>Site web :</strong> {{ etablissement.properties.telephone }}</p>
        {% endfor %}

        </div>

            <div class="demo-bg">
                    <div>
                        <div class="business-hours">
                            <h2 class="title">Horaires d'ouvertures</h2>
                                <ul class="list-unstyled opening-hours">
                                    {% for day in establishments_hours %}
                                        <li><strong>Du</strong> {{ day.du }} au {{ day.au }}, <strong>ouvert de :</strong> {% for hour in day.heures %} {{ hour.de }} à {{ hour.a }} {% endfor %}</li>
                                    {% endfor %}
                                </ul>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endif %}


</div>
{% endblock body %}



